@import '../colours';

.todo-list-item {
  background: $lightBackground;
  padding: 1rem;
  border-radius: 2rem;
  margin: 1.5rem 2rem;

  h3 {
    margin-bottom: 1.5rem;
  }

  &.status-done {
    h3, .todo-long-desc {
      text-decoration: line-through;
    }

    .todo-item-edit {
      label {
        font-weight: bold;
        color: #005500;
      }
    }
  }

  .todo-item-edit {
    label {
      font-size: 1.2rem;
    }
  }
}
